<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.choosewisely">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page_1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_1"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_2a"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_2a"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_2b"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_2b"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_3a"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_3a"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_3b"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_3b"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_3c"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_3c"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_3d"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_3d"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_4a"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_4a"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_4b"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_4b"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_4c"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_4c"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_4d"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_4d"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_5a"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_5a"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_5b"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_5b"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_5c"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_5c"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_5d"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_5d"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_5e"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_5e"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_5f"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_5f"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_6a"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_6a"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_6b"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_6b"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_6c"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_6c"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_7a"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_7a"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
        <activity
            android:name=".Page_7b"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_page_7b"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.choosewisely.MainActivity" />
        </activity>
    </application>

</manifest>